/* colors */
:root {
	--dark-grey: #333;
	--gradient: linear-gradient(90deg, #BEFFE8 0%, #80E0FF 100%);
	----blue: #456DBB;
}

/* Core style */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-decoration: none;
	line-height: 1.2;
}

a,
ul,
li {
	text-decoration: none;
	list-style: none;
}

textarea:focus,
select:focus {
	outline: none !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

button {
	border: none;
	background: none;
}

input:focus {
	outline: none !important;
}

a:active,
a:focus {
	outline: 0;
	border: none;
	-moz-outline-style: none;
}

.wrapper {
	overflow: hidden;
}

.container {
	padding: 0;
}

.navbar,
.navbar-expand-lg {
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
}

.btn {
	border-radius: 5px;
	background: var(--gradient);
	border: none;
	box-shadow: 0px 4px 10px 0px #CEE0FF;
	padding: 12px 18px;
	color: var(--dark-grey);
	font-size: 14px;
	font-weight: 700;
}

.btn:hover {
	background: linear-gradient(90deg, #80E0FF 0%, #BEFFE8 100%);
}

.btn-two {
	width: 170px;
}

main {
	margin-top: 156px;
}

.mt-6 {
	margin-top: 2rem;
}

.mb-6 {
	margin-bottom: 2rem;
}

/* header start */
.header {
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: 0px 7px 50px 5px #D7E4FF;
	background-color: #fff;
	padding: 24px 0;
}

.header .container {
	position: relative;
}

.header .navbar-expand-lg .navbar-nav .nav-link {
	padding: 0;
	margin-left: 32px;
	color: var(--dark-grey);
	font-size: 16px;
	line-height: 140%;
}

.header .header-bg__img {
	position: absolute;
	top: -15px;
	left: 55px;
}

.header .bg-img__one {
	position: absolute;
	z-index: -1;
	top: -8px;
}

.header .bg-img__two {
	position: absolute;
	z-index: -1;
	bottom: -85px;
	left: -195px;
}

.tug {
	margin-left: 145px;
}

.nav-item {
	display: flex;
	align-items: center;
}

.nav-item.item {
	margin-left: 32px;
}

.nav-item>img {
	margin-right: 4px;
}


.title-tit {
	color: var(--blue, #456DBB);
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 64px;
}

.btn-link {
	color: #456DBB;
}

/* main start */
.news .news-top__title {
	margin-top: 67.5px;
}

.news .news-titlee {
	color: var(--blue, #456DBB);
	font-size: 24px;
	font-weight: 700;
	margin: 35px 0 32px 0;
}

.row .news-content .news-title {
	overflow: hidden;
	color: var(--blue, #456DBB);
	text-overflow: ellipsis;
	font-size: 16px;
	font-weight: 700;
	margin: 8px 0;
}

.news-content {
	margin-top: 8px;
}

.slide-title {
	margin: 64px 0;
}

.slide-title>p {
	padding: 8px;
}

.cab .row {
	border-bottom: 1px solid #686868;
}

.margin-bottom .col-2:first-child {
	margin-left: 0;
}

.cab .col-4 {
	color: #686868;
}

.nav-itemm {
	margin-bottom: 24px;
}

.nav-itemm a {
	color: var(--dark-grey, #333);
	font-size: 16px;
}

.nav-itemm:last-child {
	margin-bottom: 0;
}

.title-ti {
	color: var(--blue, #456DBB);
	font-size: 24px;
	font-weight: 700;
	margin: 32px 0 24px 0;
}

.title-til {
	color: var(--blue, #456DBB);
	font-size: 24px;
	font-weight: 700;
	margin: 60px 0 24px 0;
}

.pose {
	position: relative;
	margin-left: 30px;
}

.lock-icon {
	position: absolute;
	right: 26px;
}
.activee{
	color: #456DBB;
}




/* footer start */

.footer {
	width: 100%;
	box-shadow: 0px 7px 50px 5px #D7E4FF;
	padding: 64px 0 64px 0;
}

.footer .footer-top {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
	gap: 30px;
}

.title-par {
	color: var(--grey, #686868);
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 24px;
}

.title-child {
	color: var(--dark-grey, #333);
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 16px;
}

.title-info {
	color: var(--grey, #686868);
	font-size: 14px;
	font-weight: 400;
}
.git-btn{
	border-bottom: 1px solid #456DBB;
}

.footer .footer-top .footer-card .title-child:last-child {
	margin-bottom: 0;
}

.footer .footer-top.mid {
	margin: 64px 0;
}

.footer .footer-top.mid .mid-card {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 128px;
}

.footer .footer-top.mid .footer-card.footer-card.mids-card {
	text-align: end;
}

/* ======modal====== */
.modal.show .modal-dialog {
	padding: 16px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.modal.show .dialog {
	width: 276px;
	padding: 16px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.modal-content {
	background: var(--white, #FFF);
	box-shadow: 0px 0px 15px 0px #CEE0FF;
	padding: 32px;
	text-align: center;
}

.contentss {
	width: 830px;
	height: 553px;
	padding: 32px;
}

.modal-title {
	padding-left: 0;
	color: #456DBB;
}

.btn-close {
	position: absolute;
	top: 15px;
	right: 15px;
	transition: all 0.4s;
	color: var(--blue, #456DBB);
}

.btn-close:hover {
	transform: rotate(90deg);
}

.tor {
	margin: 32px 0 16px 0;
}

.rot {
	margin: 24px 0 16px 0;
}

.ttns {
	padding: 12px 18px;
	margin: 0 auto;
}

.inputs {
	gap: 8px;
}

.modal-input__num {
	color: #000;
	width: 48px;
	height: 64px;
	padding: 8px;
	font-size: 25px;
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid var(--light-grey, #D0D0D0);
	box-shadow: 0px 0px 15px 0px #CEE0FF
}

/* media query start */
@media (min-width: 1440px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1170px;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 992px) {
	.header .bg-img__two {
		position: absolute;
		z-index: -1;
		bottom: -79px;
		left: -195px;
	}
	.contentss {
		width: 750px;
	}
}
@media (max-width:850px) {
	.contentss{
		width: 500px;
		height: 864px;
	} 
	.contentss .row{
		flex-direction: column;
	}
	.contentss .cols{
		margin-top: 32px;
	}	
}
@media (max-width:550px) {
	.contentss{
		width: 400px;
	}
}
@media (max-width:450px) {
	.contentss{
		width: 300px;
	}
}